[theme="usa"]
	// box-shadow -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf
	// background-color red
	// background-image linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%)
	// background-size 3em 3em
	// background-origin content-box
	
	& .leftThumb
		cursor ew-resize
		fill  DarkRed
	& .rightThumb
		cursor ew-resize
		fill  DarkRed	
	& .wline 	
		cursor pointer
		stroke DarkOliveGreen
	& .mbody
		cursor grab
		fill DarkSeaGreen
		&:hover
			cursor move
	& .axislabelx	
		stroke-width 2.1
		fill MediumVioletRed
		text-anchor middle
		font-family  Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-style italic
	& .axislabely	
		stroke-width 2.1
		fill MediumVioletRed 
		alignment-baseline middle
		font-family  Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-style italic
	& .chartSheet
		stroke MediumVioletRed
		stroke-width 3.5
		fill snow	
	& .titles
		stroke-width 2.1
		font-family system-ui
		fill crimson
		text-anchor middle
	& .legend
		stroke-width 2.1
		font-family system-ui
		fill crimson
	& .titlesDot
		stroke-width 2.1
		fill crimson
	& .axisY
		stroke  Sienna
		stroke-width 1.8
	& .axisX
		stroke Sienna 
		stroke-width 1.8
	& .cross	
		stroke DarkGreen 
		stroke-width 0.5
	& .grids
		stroke-width 0.3
		stroke MediumVioletRed
		stroke-dasharray 2
	& .ticks
		stroke-width 1.48
		stroke DarkGreen
	& .plot
		fill none
		stroke crimson
		stroke-width 1.8
[theme="monaco"]	
	& .leftThumb
		cursor ew-resize
		fill  LawnGreen
	& .rightThumb
		cursor ew-resize
		fill  LawnGreen	
	& .wline 	
		cursor pointer
		stroke green
	& .mbody
		cursor grab
		fill MediumSeaGreen
		&:hover
			cursor move
	& .axislabelx	
		stroke-width 0.6
		fill yellow
		stroke yellow
		text-anchor middle
		font-family  Georgia, serif
		font-style bold
	& .axislabely	
		stroke-width 0.8
		fill yellow 
		stroke yellow
		alignment-baseline middle
		font-family  Georgia, serif
		font-style bold
	& .chartSheet
		stroke silver
		fill black	
	& .titles
		stroke-width 2.1
		font-family system-ui
		fill gold
		text-anchor middle
	& .legend
		stroke-width 2.1
		font-family system-ui
		fill gold	
	& .titlesDot
		stroke-width 2.1
		fill green	
	& .axisY
		stroke  gold
		stroke-width 1.8
	& .axisX
		stroke gold 
		stroke-width 1.8
	& .cross	
		stroke gold 
		stroke-width 0.5
	& .grids
		stroke-width 0.3
		stroke gold
		stroke-dasharray 7
	& .ticks
		stroke-width 1.48
		stroke gold
	& .plot
		fill none
		stroke green
		stroke-width 2.8		